.footer {
  background-color: #101010;
  padding: 44px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  &__row {
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__columns {
    @media (max-width: 767px) {
      margin: 0px 0px 30px 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }
  }

  &__item {
  }

  &__nav {
  }

  &__list {
    display: flex;
    @media (max-width: 424px) {
      flex-direction: column;
    }
  }

  &__list-item {
    list-style-type: none;
    color: #555555;
    margin: 0px 0px 0px 13px;
    padding: 0px 0px 0px 13px;
    position: relative;
    @media (max-width: 424px) {
      margin: 0px 0px 10px 0px;
      padding: 0px 0px 0px 0px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      background-color: #1b1b1b;
      @media (max-width: 424px) {
        display: none;
      }
    }
    &:first-child {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      @media (max-width: 424px) {
        margin: 0px 0px 10px 0px;
      }
      &:before {
        display: none;
      }
    }
  }
  &_md {
    color: #959595;
  }

  &__list-link {
    color: #555555;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    &:hover {
      color: #c7b299;
    }
  }

  &__signature {
    display: inline-block;
    color: #555555;
    margin: 0px 0px 0px 13px;
    padding: 0px 0px 0px 13px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      background-color: #1b1b1b;
      @media (max-width: 424px) {
        display: none;
      }
    }
    &:first-child {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      &:before {
        display: none;
      }
    }
    @media (max-width: 330px) {
      padding: 0;
      margin: 0;
      display: block;
    }
  }
}
