body {
  background-color: #ffffff;
}

.test1 {
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: 400;
}
.test2 {
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 100px;
  font-weight: 400;
}
