.slick-list {
  overflow: hidden;
}
.icon-link:before {
  content: "\e9cb";
}
.icon-search:before {
  content: "\e986";
}
.icon-play:before {
  content: "\e900";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
